@font-face {
  font-family: "Changa One";
  src: url("./fonts/ChangaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #434343;
  background-color: #f9f9f9;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 13px 119px;
  height: 90px;
}
.header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}
.header .nav-list li {
  margin-right: 20px;
}
.header .nav-list li a {
  text-decoration: none;
  color: #434343;
  font-weight: bold;
}
.header .nav-list li a:hover {
  color: #4a90e2;
}
.header .logo img {
  width: 100px;
}

.hero {
  display: flex;
  align-items: left;
  background: linear-gradient(90deg, #ffffff -0.92%, rgba(255, 255, 255, 0) 75.6%), url("./images/hero-image.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 580px;
  margin-left: 140px;
  margin-top: 124px;
}
.hero .hero-content {
  max-width: 100%;
  padding-left: 0px;
  padding-top: 40px;
}
.hero .hero-content h2 {
  font-size: 73px;
  margin-bottom: 20px;
  color: #434343;
  line-height: 84px;
  font-weight: 400;
  letter-spacing: -1%;
  font-family: "Changa One";
  color: #434343;
}
.hero .hero-content h2 span {
  color: #4a90e2;
}
.hero .hero-content p {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  margin-bottom: 20px;
  color: #434343;
}
.hero .hero-content .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.hero .hero-content .button-container .button-share {
  background-color: #8a53ff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 46px;
  width: 165px;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.hero .hero-content .button-container .button-watch {
  background: transparent;
  color: #434343;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 46px;
  width: 165px;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.hero .hero-content .button-container .button-watch img {
  margin-right: 10px;
}
.hero .hero-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

.featured-destination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 0;
  margin-left: 140px;
  margin-top: 107px;
}
.featured-destination .container-featured {
  display: flex;
  flex-direction: row;
}
.featured-destination .featured-img {
  width: 100%;
  max-width: 580px;
  border-radius: 10px;
}
.featured-destination .featured-content {
  max-width: 50%;
  padding-left: 40px;
}
.featured-destination .featured-content h3 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  letter-spacing: 0.06em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #8a53ff;
}
.featured-destination .featured-content p {
  font-family: Changa One;
  font-size: 39px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #434343;
}
.featured-destination .featured-content h4 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #434343;
}
.featured-destination .featured-content .button {
  display: flex;
  align-items: center;
  background: transparent;
  color: #8a53ff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.featured-destination .featured-content .button img {
  margin-right: 10px;
}

.adventures {
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
}
.adventures p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #8a53ff;
}
.adventures .grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.adventures .grid .grid-item {
  text-align: center;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.adventures .grid .grid-item img {
  width: 100%;
  max-width: 268px;
  max-height: 317px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.adventures .grid .grid-item h1 {
  font-family: Changa One;
  font-size: 39px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #434343;
}
.adventures .grid .grid-item a {
  color: #8a53ff;
  text-decoration: none;
}

.signup {
  background-image: url("./images/ShareTravel.svg");
  padding: 50px 0;
  text-align: center;
}
.signup .container-signup {
  width: 90%;
  max-width: 520px;
  margin: 0 auto;
}
.signup p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #8a53ff;
}
.signup h1 {
  font-family: Changa One;
  font-size: 39px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #434343;
}
.signup h2 {
  font-family: Changa One;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #434343;
  text-align: center;
}
.signup h3 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #576074;
  text-align: center;
}
.signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup form input {
  width: 100%;
  max-width: 500px;
  height: 56px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 12px;
}
.signup form textarea {
  width: 100%;
  max-width: 500px;
  height: 72px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 12px;
}
.signup form .button {
  align-self: flex-start;
  width: 222px;
  height: 46px;
  margin-top: 20px;
  background: #8a53ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.signup form .button:hover {
  background: #7b7b7b;
}

.blog {
  text-align: center;
  padding: 0 0;
}
.blog p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  letter-spacing: 0.06em;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #8a53ff;
}
.blog h3 {
  font-family: Changa One;
  font-size: 39px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #434343;
}
.blog .grid {
  display: flex;
  align-items: center;
}
.blog .grid .grid-item-main {
  width: 50%;
  text-align: left;
  background: #fff;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.blog .grid .grid-item-main img {
  width: 100%;
  max-width: 560px;
  max-height: 358px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.blog .grid .grid-item-main h3 {
  margin-top: 14px;
  font-family: Changa One;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.blog .grid .grid-item-main h4 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.blog .grid .grid-item-main .item-main-row {
  width: 100%;
  max-width: 580px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.blog .grid .grid-item-main .item-main-row .img-button {
  width: 48px;
  height: 48px;
  margin-left: auto;
  align-self: flex-end;
}
.blog .grid .grid-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.blog .grid .grid-item .item-collumn {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.blog .grid .grid-item .item-collumn h3 {
  font-family: Changa One;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #434343;
}
.blog .grid .grid-item .item-collumn p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #576074;
}
.blog .grid .grid-item img {
  width: 100%;
  width: 200px;
  height: 128px;
  border-radius: 4px;
  padding-top: 30px;
}

.footer {
  width: 100%;
  max-width: 1440px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  background: transparent;
  color: #939eb4;
  text-align: center;
}
.footer .container-footer {
  width: 100%;
  margin: 32px 120px 32px 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer .container-footer p {
  align-self: center;
}
.footer .container-footer .footer-links {
  display: flex;
  gap: 24px;
}
.footer .container-footer a {
  text-decoration: none;
  align-self: center;
}/*# sourceMappingURL=style.css.map */